In [1]:
import numpy as np
import pandas as pd

In [2]:
dtypes = {"id": np.uint32, "date": str, "store_nbr": np.uint8, "item_nbr": np.uint32, "unit_sales": np.float32, "onpromotion": bool}

train = pd.read_csv("train.csv", dtype=dtypes, parse_dates=['date'])
print(train.shape)
train.head()

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(125497040, 6)

   id       date  store_nbr  item_nbr  unit_sales onpromotion
0   0 2013-01-01         25    103665         7.0         NaN
1   1 2013-01-01         25    105574         1.0         NaN
2   2 2013-01-01         25    105575         2.0         NaN
3   3 2013-01-01         25    108079         1.0         NaN
4   4 2013-01-01         25    108701         1.0         NaN

### Process training and test sets for regression

In [12]:
# Split datetime into year, month, day of month, and day of week.
train_years = [x.year for x in train.date]
train_months = [x.month for x in train.date]
train_dayofmonth = [x.day for x in train.date]
train_dayofweek = [x.weekday() for x in train.date]

In [14]:
train.onpromotion.fillna(0, inplace=True) # get rid of NaNs in onpromotion column
reg_train = train[['store_nbr', 'item_nbr', 'unit_sales', 'onpromotion']] # get rid id column
# Add disseminated date columns
reg_train['year'] = train_years
reg_train['month'] = train_months
reg_train['dayofmonth'] = train_dayofmonth
reg_train['dayofweek'] = train_dayofweek

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [21]:
reg_train['onpromotion'] = reg_train['onpromotion'].astype(np.bool_)
reg_train.to_feather('./train_clean')

In [23]:
test = pd.read_csv("test.csv", dtype=dtypes, parse_dates=['date'])
print(test.shape)
test.head()

(3370464, 5)

          id       date  store_nbr  item_nbr  onpromotion
0  125497040 2017-08-16          1     96995        False
1  125497041 2017-08-16          1     99197        False
2  125497042 2017-08-16          1    103501        False
3  125497043 2017-08-16          1    103520        False
4  125497044 2017-08-16          1    103665        False

In [31]:
# Split datetime into year, month, day of month, and day of week.
test_years = [x.year for x in test.date]
test_months = [x.month for x in test.date]
test_dayofmonth = [x.day for x in test.date]
test_dayofweek = [x.weekday() for x in test.date]

In [32]:
test_ids = test[['id']]
reg_test = test[['store_nbr', 'item_nbr', 'onpromotion']] # get rid id column
# Add disseminated date columns
reg_test['year'] = test_years
reg_test['month'] = test_months
reg_test['dayofmonth'] = test_dayofmonth
reg_test['dayofweek'] = test_dayofweek

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [33]:
reg_test.to_feather('./test_clean')
test_ids.to_feather('./test_ids')

In [34]:
reg_test.head()

   store_nbr  item_nbr  onpromotion  year  month  dayofmonth  dayofweek
0          1     96995        False  2017      8          16          2
1          1     99197        False  2017      8          16          2
2          1    103501        False  2017      8          16          2
3          1    103520        False  2017      8          16          2
4          1    103665        False  2017      8          16          2